#bg3{
    background-color: rgb(25, 25, 25);
    border: none;
    
}

img{
    border-radius: 7px !important;
}

.font{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

#text{
    

    position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the alpha value */
  padding: 20px;
  width: 80%;
  border-radius: 3px;
  text-align: center;
  font-family: Poppins;
  
    color: #FFFFFF;
  
    
    
}
#text-size-1{
    font-size: 20px;
    font-weight: 600;
     line-height: 30px;
     letter-spacing: 0em;
     margin-top: -10px !important;
     margin-bottom: -5px !important;
}

#bg4{
    font-family: Poppins;
font-size: 12px !important;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
margin-top: -10px !important;
margin-bottom: -5px !important;

}

.img1{
    height: 31.894201278686523px;
width: 31.751937866210938px;
left: 0.0040283203125px;
top: 0px;
border-radius: 0px;

}